---
import Layout from '../layouts/Layout.astro';
import Member from '../components/Member.astro';
import BlogPost from '../components/BlogPost.astro';
import Logo from '../components/Logo.astro';

const posts = await Astro.glob('../pages/blog/*.md');
const members = await Astro.glob('../pages/members/*.md');
---

<Layout title="Code Calico">
	<Logo />
	<main>
		<h2>Who are we?</h2>

		<p>Welcome to our website! We're a team of hobbyist programmers, working together to craft something fun.</p>

		<div class="members">
			{members.sort((a, b) => a.frontmatter.name > b.frontmatter.name ? 1 : -1).map((member) =>
				<Member {...member.frontmatter} content={member.compiledContent()} />
			)}
		</div>

		<h2>What are we up to?</h2>
		{posts.sort((a, b) => a.frontmatter.pubDate > b.frontmatter.pubDate ? -1 : 1).slice(0, 3).map((post) =>
			<BlogPost url={post.url} {...post.frontmatter} />
		)}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 1080px;
		width: 90vw;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 3em;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	h2 {
		font-size: 2em;
		font-weight: 700;
		line-height: 1.5;
		text-align: center;
		margin-top: .5em;
	}

	.members {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		gap: 1em;
		flex-wrap: wrap;
	}
</style>
