---
interface Props {
	url: string;
	title?: string;
	description?: string;
}

const { url, title, description } = Astro.props;
---

<a href={url} class="blog-post-card">
	<div class="info">
		<span class="highlight">{title}</span>
		<p>{description}</p>
	</div>
</a>

<style>
	.blog-post-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 7px;
		border: 1px solid var(--node-border);
		background-color: var(--node-background);
		padding: 1em;
		gap: 1em;
		flex: 1;
	}

	.blog-post-card .info span {
		margin: 0;
		font-size: 1.5em;
		font-weight: bold;
	}

	.blog-post-card .info p {
		margin: 0;
	}
</style>
