<div class="logo">
	<div class="icon">
		<img src=`/codecalico-transparent.png` />
	</div>
	<div class="text">
        <h1>Code</h1>
        <h1>Calico</h1>
	</div>
</div>
<style>
	.logo {
		display: flex;
		flex-direction: row;
        font-size: 4em;
        height: 3em;
        gap: .5em;
        justify-content: center;
        align-items: center;
        margin: .5em;
	}

    .logo img {
        height: 3em;
        image-rendering: pixelated;
    }

	.logo h1 {
		font-size: 1em;
        line-height: 1em;
        margin: 0;
        color: #fff;
	}
</style>
