---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/codecalico-transparent.png" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description ?? ""} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background: #242325;
		--text: #c8c8c8ff;
		--text-dark: #c8c8c899;
		--node-border: #fff3;
		--node-background: #aaa1;
		--accent: #dc965aff;
	}

	html {
		font-family: system-ui, sans-serif;

		background: var(--background);
		color: var(--text);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1, h2 {
		color: var(--accent);
	}

	a {
		text-decoration: none;
		color: var(--text);
	}

	a, a .highlight {
		transition: .2s ease;
	}

	a:hover .highlight {
		color: var(--accent);
	}
</style>
